{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Thank You area start -->
  <div class="thank-you-area">
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5 mb-5">
            <div class="col-md-8">
                <div class="inner_complated">
                    <div class="img_cmpted"><img style="margin-left:250px;" src="{% static 'img/cmpted_logo.png' %}" alt=""></div>
                    <p class="dsc_cmpted mt-3" style="font-weight: bold; font-size: 18px;">Thank you for ordering in our store. You will receive a confirmation
                        email shortly.</p>
                    <div class="btn_cmpted  mt-5 mb-5">
                        <a href="/product/" style="margin-left:240px; background-color: rgb(255, 184, 77); color: white; padding: 15px 30px; border-radius: 5px;" class="shop-btn" title="Go To Shop">Continue Shopping </a>
                    </div>
                </div>
                <div class="main_quickorder text-align-center">
                    <h3 class="title mb-5" style="margin-left:170px; font-weight: bold;">Call Us for Quick Order</h3>
                    <div class="cntct typewriter-effect"><span class="call_desk"><a style="margin-left:255px; font-size: 20px; color: rgba(218, 83, 83, 0.89); font-weight: bold;" href="tel:+01234567890" id="typewriter_num">+977 9802478541</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Thank You area end -->

   




{% endblock %}

